# deps
node_modules/

# build
dist/
dist-ssr/

# env
.env
.env.local
.env.*.local

# editor
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# misc
.DS_Store
*.pem
npm-debug.log*
